<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/jdbc
		http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">
	
	<global-method-security secured-annotations="enabled" pre-post-annotations="enabled" />
	
	<http>
		<intercept-url pattern="/login" access="permitAll" requires-channel="https" />
		<intercept-url pattern="/login/impersonate" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
		<intercept-url pattern="/logout/impersonate" access="authenticated" requires-channel="https" />
		<intercept-url pattern="/home" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" requires-channel="https" />
		<intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN') and fullyAuthenticated" requires-channel="https" />
		<intercept-url pattern="/user/*" access="hasRole('ROLE_USER')" requires-channel="https" />

		<form-login login-page="/login" authentication-failure-url="/login?error"  default-target-url="/home" always-use-default-target="true" />
		<logout logout-url="/logout" logout-success-url="/login" />
		<access-denied-handler error-page="/accessDenied" />
		<remember-me key="shoppingCart-key" />
		
		<custom-filter ref="switchUserFilter" position="SWITCH_USER_FILTER" />
		
		<session-management>
			<concurrency-control expired-url="/sessionExpired" />
		</session-management>		
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="jdbcUserDetailsService">
			<password-encoder hash="sha-256" />
		</authentication-provider>
	</authentication-manager>
	
	<jdbc:embedded-database id="dataSource">
		<jdbc:script location="classpath:security-schema.sql" />
		<jdbc:script location="classpath:users.sql" />
	</jdbc:embedded-database>
	
	<beans:bean id="jdbcUserDetailsService" class="org.springframework.security.provisioning.JdbcUserDetailsManager">
		<beans:property name="enableAuthorities" value="false" />
		<beans:property name="enableGroups" value="true" />
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>

	<beans:bean id="switchUserFilter" class="org.springframework.security.web.authentication.switchuser.SwitchUserFilter">
		<beans:property name="userDetailsService" ref="jdbcUserDetailsService" />
		<beans:property name="targetUrl" value="/home" />
	</beans:bean>

</beans:beans>